# Root .gitignore for ChitChat App

# Environments
.env
.env.local
.env.*.local

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Flutter / Dart
build/
.dart_tool/
.packages
.pub-cache/
.pub/
android/app/debug/
android/app/profile/
android/app/release/

# OS Files
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
*.swo
