# Flutter Frontend
frontend/.dart_tool/
frontend/build/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/*.iml
frontend/.metadata
frontend/analysis_output.txt
frontend/analyze.txt
frontend/analyze_output.txt
frontend/build_error.txt
frontend/full_analysis.txt
frontend/gradle_errors.txt
frontend/gradle_full.log
frontend/gradle_log.txt
frontend/gradle_output.txt
frontend/gradle2.txt
frontend/chitchat_app.iml

# Backend
backend/node_modules/
backend/.env

# General
.vscode/
.DS_Store
*.log